extends layout

block content
    h1= title

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Name of item' name='name' required='true' value=(undefined===item ? '' : item.name))
        div.form-group
            label(for='description') Description:
            textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined === item ? '' : item.description}
        div.form-group
            label(for='category') Category:
            select#category.form-control(type='select' placeholder='Select category' name='category' required='true' )
                for category in categories
                    option(value=category._id) #{category.name}
        div.form-group
            label(for='price') Price:
            input#price.form-control(type='number', placeholder='Price' name='price' value=(undefined===item ? '' : item.price) required='true')
        div.form-group
            label(for='numberInStock') Number in stock:
            input#numberInStock.form-control(type='number', placeholder='Number in stock' name='numberInStock' value=(undefined === item ? '' : item.numberInStock) required='true')
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg
